# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

/src/generated/prisma
teza licenta final .pdf
.gitignore
GHID_IMAGINI_SI_COD.txt
teza licenta 2.docx
teza licenta 2.pdf
TEZA_FINALA_OALA_OLEG.txt
teza_LIcenta_OALA_OLEG_ADMIN_DASHBORD.pdf
COMPLETARI_TEZA_EXE.txt
