@import "tailwindcss";


:root {
    --dark-900: #111827;
    --dark-800: #1F2937;
    --dark-700: #374151;
    --dark-600: #4B5563;
  }
  
  body {
    color: #F9FAFB;
    background-color: var(--dark-900);
  }
  
  /* Add custom background classes */
  .bg-dark-900 {
    background-color: var(--dark-900);
  }
  
  .bg-dark-800 {
    background-color: var(--dark-800);
  }
  
  .bg-dark-700 {
    background-color: var(--dark-700);
  }
  
  .bg-dark-600 {
    background-color: var(--dark-600);
  }
  
  /* Custom scrollbar */
